<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random String Generator</title>
    <script src="/script.js"></script>
</head>
<body>
    <h1>Random String Generator</h1>
    <button id="generateBtn">Generate Random String Please</button>
    <input type="text" id="randomString" readonly>
</body>
</html>
